div {
  float:left;

}
.red{
  background-color: red;
  width: 100px;
  height: 100px;
}
.black {
  background-color: white;
  width: 100px;
  height: 100px;
}

.board {
  width: 800px;
}

.header {
  width: 900px;
  height: 150px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.container {
  width: 900px;

}
.body1 {
  width: 300px;
  height: 800px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.under
{
  width: 900px;
  height: 40px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
  background-color: red;
}

.courtside
{
  width: 110px;
  height: 510px;
  box-sizing: border-box;
  border: 5px solid white;
  background-color: red;
}
.uppercentercourt
{
  width: 680px;

}
.backcourt
{
  height: 200px;
  width: 680px;
  box-sizing: border-box;
  border: 5px solid white;
  background-color: red;
}
.innersides
{
  height: 310px;
  width: 340px;
  box-sizing: border-box;
  border: 5px solid white;
  background-color: red;
}
.whitespace{
width: 900px;
height: 100px;
background-color: white;
box-sizing: border-box;
border: 10px solid white;
}
.blogbox {
  width: 740px;
  height: 800px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.littleblurb
{
  width: 740px;
  height: 800px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.blogheader {
  width: 900px;
  height: 200px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.blogbodycontainer{
  height: 650px;
  width: 650px;
}
.blogsidehud
{ width: 250px;
  height: 600px;
}
.blogbody
{
  width: 650px;
  height: 500px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.blogbodyend
{
  width: 650px;
  height: 100px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.blogsidecontent
{
  width: 250px;
  height: 300px;
  background-color: red;
  box-sizing: border-box;
  border: 10px solid white;
}
.blogbody2
{
  height: 900px;
  width: 600px;
}
.californiasheetbody
{
  width: 415px;
  height: 720px;
  background-color: white;
  box-sizing: border-box;
  border-left: 10px solid red;
  border-top: 10px solid red;
  border-right: 5px solid red;
  border-bottom: 10px solid red;

}
.entiresheet
{
  width: 1240px;
  height: 710px;
  background-color: red;
  box-sizing: border-box;
  border-left: 10px solid red;
  border-top: 10px solid red;
  border-right: 5px solid red;


}
.innerupperrightcorner
{
  width: 300px;
  height: 300px;

}
.row1
{
  width: 300px;
  height: 100px;
}
.basicrectange
{
  width: 50px;
  height: 100px;
  background-color: red;
  box-sizing: border-box;
  border: 1px solid white
}
.row2
{
  width: 300px;
  height: 200px;
}
.downrow1
{
  width: 50px;
  height: 100px;
}
.longrectangle
{
  width: 50px;
  height: 200px;
  background-color: red;
  box-sizing: border-box;
  border: 1px solid white
}
.largerectangle
{
  width: 100px;
  height: 200px;
  background-color: red;
  box-sizing: border-box;
  border: 1px solid white
}
.longandlargerectangle
{
  width: 100px;
  height: 300px;
  background-color: red;
  box-sizing: border-box;
  border: 1px solid white
}
.uppersectionfirstsheet
{
  width: 400px;
  height: 300px;
}
.firstsheet2ndrow
{
  height: 200px;
  width: 400px;
}
.row3
{
  width: 400px;
  height: 100px;
}
.row4
{
  width: 400px;
  height: 200px;
}
.californiasheetbody2
{
  width: 420px;
  height: 720px;
  background-color: white;
  box-sizing: border-box;
  border-left: 10px solid red;
  border-top: 10px solid red;
  border-right: 10px solid red;
  border-bottom: 10px solid red;

}
.newcontainer
{
  width: 1250px;
  height: 720px
}
